.container-box {
    margin: 0 auto;
    margin-top: 15vh;
    width: 100%;
    max-width: 1300px;
    border: 1px solid #ccc; /* Optional: Add border for visual distinction */
    padding: 20px;
    overflow: auto; /* Enable scrolling within the container */
    max-height: 70vh; /* Example height; adjust as needed */
}
.scrollable-list {
    max-height: 500px;
    overflow-y: auto;
}
.horizontal-scrollable-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.horizontal-scrollable-list .box {
    flex: 0 0 auto; /* Ensure boxes do not grow */
    width: 150px; /* Fixed width for consistency */
    margin-right: 10px;
    height: 100%; /* Set height to fill the container */
}

body {
    background-image: none;
    font-family: Georgia, serif;
}

/* Ensure the navbar is fixed at the top left */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #3273dc; /* Adding contrast */
}

/* Style the hamburger menu */
.navbar-burger {
    margin: 10px;
}

/* Ensure hamburger icon is visible with white text */
.navbar-burger.has-text-white {
    color: #fff;
}

.navbar-dropdown {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for dropdown */
}

.navbar-start {
    display: inline-block;
    flex-direction:column;
}

.navbar-start .button {
    width: auto;
    margin-bottom: 10px; /* Adjust the margin-right value as needed */
}


/* Transition for the dropdown menu */
.navbar-menu {
    display: none;
    background-color: white;
    padding: 10px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
    transition: max-height 0.3s ease-in-out;

    position: absolute;
    top: 100%; /* Position dropdown below navbar */
    left: 0;
    right: 0;
    z-index: 10; /* Ensure dropdown is above other content */
}

.navbar-menu.is-active {
    display: block;
    max-height: 300px;
}

.navbar-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.horizontal-scrollable-list .box {
    flex: 0 0 auto; /* Ensure boxes do not grow */
    width: 150px; /* Fixed width for consistency */
    margin-right: 10px;
}

.section {

    margin-top: 30px;
}


/* Footer CSS */

.footer {
    padding-top: 1px;
    height: 60vh;

}

.footer_title {
    text-align: center; /* Center align the footer title */
    margin-bottom: 20px; /* Optional: Add spacing between title and container-box */
    font-size: 26px;
}

.custom-button {

    padding: 3rem 3rem; /* Adjust padding to make the button bigger */
    margin-right: 0rem; /* Adjust margin between button and text */
    position: relative; /* Ensure the button can contain absolute-positioned content */
    overflow: hidden; /* Hide any overflow content */
    width: 100px; /* Example fixed width for demonstration */

    align-items: center;
}
.custom-button img {
    width: 80%; /* Stretch image width to fill the button */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    position: absolute; /* Position the image absolutely within the button */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the image within the button */

}

.text-left {
    text-align: left;
}

.notification {

    padding-top: 10px;
}
